﻿@model IEnumerable<Catalog.WebUI.Models.TeamViewModel>

@{
    ViewBag.Title = "Teams";
}

<div class="panel panel-default">
    <h4>@ViewBag.Title</h4>
    <div class="panel-body">
        <div class="list-group">
            @foreach (var teamViewModel in Model)
            {
                <a href='@Url.Action("TeamDetails", "Home", new
                         {
                             Id = teamViewModel.Team.Id

                         })' class="list-group-item">@teamViewModel.Team.Name<span class="badge">@teamViewModel.MemberCount</span></a>
            }
        </div>  
    </div>
</div>