﻿@using Newtonsoft.Json
@model Catalog.WebUI.Models.TeamDetailsViewModel

@{
    ViewBag.Title = "Team Details";
}

<div class="panel panel-default" ng-app="teamApp" ng-controller="teamController" ng-init='init(@JsonConvert.SerializeObject(@Model))'>
    <h4>Team members of <em ng-bind="teamInfo.Team.Name"></em></h4>

    <div class="panel-body">
        <div class="list-group" ng-repeat="teamMember in teamInfo.TeamMembers">
            <div class="list-group-item">
                <span ng-bind="teamMember.Name"></span>
            </div>
        </div>
    </div>
    
    <div class="form-container">
        <form class="form-inline">
            <label for="firstname">Add a new member:</label>
            <input class="form-control" id="firstname" type="text" ng-model="newTeamMemberName">

            <button ng-click="submit()" class="btn btn-default">Add</button>
        </form>
    </div>
</div>

<script src="~/Scripts/Controllers/TeamController.js"></script>